BETTER_AUTH_SECRET=generate-at-least-32-random-characters
BETTER_AUTH_URL=http://localhost:3000
POSTMARK_SERVER_TOKEN=POSTMARK_API_TEST
POSTMARK_FROM_EMAIL=GHRU Puzzles <nabil@happykhan.com>
POSTMARK_WEBHOOK_SECRET=generate-a-separate-random-webhook-secret
